$font-size-s: 14px;
$font-size-m: 15px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 34px;
$font-size-xxxl: 62px;

$white: #FFFFFF;
$white-dark: #F5F5F5;
$black:#111111;
$gray: #A0A0A0;
$gray-2: #E5E5E5;
$gold: #D2B356;
