$blue: #14181F;
$blue-dark: #0A0C10;
$blue-light:#272A31;

$red: #EA1D22;
$red-dark: #B31317;
$red-light: #F02A2F;


$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$white: #FFFFFF;
$black:#1C1C1C;
$gray: #A0A0A0;
$gray-2: #E5E5E5;
$gold: #D2B356;