.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: none;

  @include responsive() {
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.w-auto {
  width: auto;
}

.golden-top {
  &::before{
    content: "";
      width: 50px;
      display: block;
      height: 7px;
      background: $gold;
      margin: 32px 0px;
    }
  }
.golden-bottom {
  &::after {
      content: "";
      width: 50px;
      display: block;
      height: 7px;
      background: $gold;
      margin: 32px 0px;
    }
}

.section-hero {
  position: relative;

  @include responsive() {
    height: 100vh;
  }
  .container {
    z-index: 2;
    position: relative;
  }
  .overlay {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hero-text {
    max-width: 70%;
  }
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  transition: 0.7s ease;
  border: 3px solid $black;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: -1px;
      left: -1px;
      width: 0%;
      height: 103%;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.7s ease;
    }

    &:hover {
        &::after {
          width: 102%;
        }
    }
}

.item {
  padding: 16px 8px;

  @include responsive() {
    text-align: center;
  }
}
.user-image{
  margin: 0 auto;
  max-width: 150px;
}
