@mixin responsive() {
  @media screen and (max-width: 960px) {
    @content;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@import "partials/colors";

body {
  width: 100%;
  background-color: $white;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: $gray;
}
p {
  font-size: $font-size-m;
  color: $gray;
  letter-spacing: 1px;
  line-height: 140%;
}
.btn {
  display: inline-block;
  padding: 10px 32px;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  transition: 0.7s ease;
  border: 3px solid $black;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #111111;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: 0%;
    height: 104%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.7s ease;
    color: $white;
  }

  &:hover {
    color: $white;
    &::after {
      width: 101%;
    }
  }
}

.icon {
  width: auto;
  margin-bottom: 0.5rem;

  @include responsive() {
    width: 100%;
  }
}

.home-section {
  .title {
    text-transform: uppercase;
    line-height: 1;
    font-size: $font-size-xxxl;
    color: $black;
  }
}

.sobre-section {
  .title {
    font-size: $font-size-xxl;
    color: $black;
  }
  .item {
    .title {
      font-size: $font-size-xl;
      color: $black;
    }
  }
}

section {
  .subtitle {
    text-transform: uppercase;
    color: $gray;
    font-size: $font-size-s;
  }
}

.card {
  border: none;
}
.img-thumbnail {
  background: transparent;
  border: none;
  border-radius: 0;
}

.text-black {
   p{
      color: $black;
   }
}
.form-outline {
    margin-bottom: 1rem;

    label{
      margin-bottom: 10px;
      line-height: 25px;
      color: #D2B356;

    }
    .form-control{
      background: #FFFFFF;
      border: 1px solid rgba(221, 221, 221, 0.867);
      box-sizing: border-box;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
      border-radius: 2px;
    }
}


@import "partials/layout";
@import "partials/menu";
@import "partials/spacing";
