@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  background-color: #FFFFFF;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #A0A0A0;
}

p {
  font-size: 15px;
  color: #A0A0A0;
  letter-spacing: 1px;
  line-height: 140%;
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  border: 3px solid #111111;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #111111;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  width: 0%;
  height: 104%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  color: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
}

.btn:hover::after {
  width: 101%;
}

.icon {
  width: auto;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 960px) {
  .icon {
    width: 100%;
  }
}

.home-section .title {
  text-transform: uppercase;
  line-height: 1;
  font-size: 62px;
  color: #111111;
}

.sobre-section .title {
  font-size: 34px;
  color: #111111;
}

.sobre-section .item .title {
  font-size: 18px;
  color: #111111;
}

section .subtitle {
  text-transform: uppercase;
  color: #A0A0A0;
  font-size: 14px;
}

.card {
  border: none;
}

.img-thumbnail {
  background: transparent;
  border: none;
  border-radius: 0;
}

.text-black p {
  color: #111111;
}

.form-outline {
  margin-bottom: 1rem;
}

.form-outline label {
  margin-bottom: 10px;
  line-height: 25px;
  color: #D2B356;
}

.form-outline .form-control {
  background: #FFFFFF;
  border: 1px solid rgba(221, 221, 221, 0.867);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: none;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-auto {
  width: auto;
}

.golden-top::before {
  content: "";
  width: 50px;
  display: block;
  height: 7px;
  background: #D2B356;
  margin: 32px 0px;
}

.golden-bottom::after {
  content: "";
  width: 50px;
  display: block;
  height: 7px;
  background: #D2B356;
  margin: 32px 0px;
}

.section-hero {
  position: relative;
}

@media screen and (max-width: 960px) {
  .section-hero {
    height: 100vh;
  }
}

.section-hero .container {
  z-index: 2;
  position: relative;
}

.section-hero .overlay {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-hero .hero-text {
  max-width: 70%;
}

.item {
  padding: 16px 8px;
}

@media screen and (max-width: 960px) {
  .item {
    text-align: center;
  }
}

.user-image {
  margin: 0 auto;
  max-width: 150px;
}

header {
  width: 100%;
  background: #FFFFFF;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.navbar .navbar-brand {
  font-size: 18px;
  color: #111111;
}

@media screen and (max-width: 960px) {
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(210, 179, 86, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav a.nav-link {
  color: #A0A0A0;
  outline: 1px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-nav a.nav-link:hover {
  color: #D2B356;
  outline: 0px solid transparent;
  border-bottom: 4px solid #D2B356;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-nav a.nav-link.active {
  color: #D2B356;
  outline: 0px solid transparent;
  border-bottom: 4px solid #D2B356;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}
/*# sourceMappingURL=style.css.map */